<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <img src="../../../assets/logoSalao.png" alt="Logo Salão de beleza">
       <mat-nav-list class="nav-list">
          <a mat-list-item routerLink="home">
            Home
          </a>
          <a mat-list-item routerLink="/">
            Financeiro
          </a>
          <a mat-list-item routerLink="funcionarios">
            Funcionários
          </a>
          <a mat-list-item routerLink="cliente">
            Clientes
          </a>
          <a mat-list-item class="teste" routerLink="login">
            Login/Cadastro
         </a>
       </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
      <mat-toolbar class="matbar">
         <button class="menu mat-elevation-z8 teste" (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span>SAULÃO DE BELEZA</span>
      </mat-toolbar>
       <router-outlet></router-outlet>
    </div>

 </mat-drawer-container>
